* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #efefff;
    margin: 0;
}

button {
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    height: 3rem;
    margin: 1rem;
}

button:focus, button:focus-visible {
    outline: none;
    box-shadow: 0 0 2pt 2pt blue;
}

footer {
    border-top: 1px solid darkgray;
    display: flex;
    flex: 0 1;
    flex-direction: column;
    font-size: 0.9rem;
    justify-content: space-between;
    padding: 12px 0;
    text-align: left;
}

footer a {
    font-weight: bold;
    text-decoration: none;
}

footer img {
    margin: 0 8px 0 0;
}

ul {
    padding: 0;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.eelinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.eelinks p {
    align-items: flex-end;
    display: flex;
    margin: 4px 0;
}

.eeimg {
    display: inline-flex;
    justify-content: center;
    min-width: 44px;
}

.eelinks span {
    margin-bottom: 5px;
}

.page {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 750px;
    min-height: 100vh;
    padding: 1rem;
    text-align: center;
}

.randomizer {
    flex: 1 0;
}

.row { 
    display: flex;
    flex-direction: row;
}

li.row, .row.if-big {
    flex-direction: column;
}

li {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    list-style: none;
    padding: 1rem;
    text-align: left;
}

li > div {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-left: 1rem;
}

li > *:first-child {
    flex: 1;
}

small {
    color: #444;
    font-size: 0.9rem;
}

.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

#theEngine {
    margin: 0;
}

@media only screen and (min-width: 600px) {
    footer, .row.if-big, li.row {
        flex-direction: row;
    }
}